<h1>Edição de tarefas</h1>

<%= render "form", task: @task %>

<% @list ||= @task.list %>

<br>

<div>
  <%= link_to "Mostrar tarefa", list_task_path(@list, @task) %> |
  <%= link_to "Voltar para tarefas", list_tasks_path(@list) %>
</div>
